[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
autopep8 = "*"
pylint = "*"
pylint-django = "*"

[packages]
django = "<3"
scrapy = "*"
requests = "*"
tqdm = "*"
pandas = "*"
celery = "*"
django-celery-beat = "*"
redis = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
